.education_item{
    padding-bottom: 10px;
    background: #093a4d;
    border-radius: 7px;
    margin-bottom: 1rem;
    border: none;
}


.education_item:hover{
   border:2px solid #536F16;
   box-shadow: 0px 1px 17px #536F16;

}


.education_main_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    color: white;
    width: -webkit-fill-available;
}
.home_div_left{
    height: 100vh;
    flex: 75% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.white_stick{
    border-left: 3px solid #536F16;
    height: 0.25IN;
    width: -webkit-fill-available;
    margin-top: 0.11in;
    position: absolute;
    padding: 0px;
    left: 50%;
}


.padding1{
    padding: 2rem 2rem 0rem 02rem;
}

.padding2{
    padding: 0rem 0rem 0rem 02rem;
    color: #8d8282;
}

.padding3{
    padding: 1rem 0rem 1rem 2rem;
}


.back_div{
    border: 2px solid white;
    width: 50%;
    height: 169px;
    position: absolute;
    margin-left: -1rem;
    margin-top: -1rem;
    border-radius: 7px;
}

.edu_items{
    transition: 1s ease-in-out;
}

.edu_items:hover{
    color: rgb(119, 248, 68);
    transition: 1s ease-in-out;
    cursor: pointer;
    
}


@media screen and (max-width: 420px){
    .education_div_div{
        margin-top: 3rem;
    }
}

@media screen and (min-width: 420px){
    .education_div_div{
        margin-top: -4rem !important;
    }
}

.text_education{
    text-align: center !important;
    font-family:"Playwrite GB S", cursive !important;
    padding-bottom: 10px;
    margin-top: -3rem;
    font-size: 25px !important;
}


