
@media screen and (max-width: 1024px) {
  
    #profile_div{
        top: -60rem;
        position: fixed;
        transition: 0.7s ease-in-out;
    }
    #profile_div.active{
        position: fixed;
        top: 0px;
        transition: 0.7s ease-in-out;
        z-index: 999999;
    }

    .new_home_right{
        height: 100vh;
        border-radius: 7px !important;
        margin-left: -5rem;
        background: #ffffff9f !important;
    }

    .down_arrow{
        margin-left: -3rem;
        cursor: pointer;
    }
}

@media screen and (min-width: 1024px) {

    .new_home_right{
        display: none !important;
        width: -webkit-fill-available !important;

    }
}


