.home_main_white{
    border-radius: 7px !important;
    background-color: rgba(80, 81, 81, 0.59) !important;
    margin: 5px;
}

@media screen and (max-width: 768px){
    .home_div_right{
        display: none;
    }
}